[Desktop Entry]
Name=onboard
Exec=dbus-send --type=method_call --print-reply --dest=org.onboard.Onboard /org/onboard/Onboard/Keyboard org.onboard.Onboard.Keyboard.ToggleVisible
Terminal=false
Icon=onboard
Type=Application
MimeType=applicatio/x-onboard;
StartupNotify=false
