[Desktop Entry]
Name=SystemLibrary
GenericName=System Library
Comment=coalsoft.cz
Exec=npm --prefix "/home/ryxwaer/Documents/SystemLibrary" run serve-dist
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
